<div class="details-container">
  <h2 id="project-name"><%= formatProjectNameForDisplay(project.name) %></h2>
  <p>Phase: <%= project.phase %></p>
  <p>Description: <%= project.description %></p>
  <% function formatNumber(value, decimals) { %> <% if (value == null ||
  isNaN(value)) return '0'; %> <% return Number(value).toLocaleString('de-CH', {
  minimumFractionDigits: decimals, maximumFractionDigits: decimals }); %> <% }
  %>

  <p>
    Carbon Footprint:
    <span id="carbonFootprint">
      <%= formatNumber(Math.round(project.totalCarbonFootprint) / 1000, 1) %>
      tons
    </span>
  </p>

  <p>
    m²:
    <strong id="ebfPerM2"><%= formatNumber(project.EBF, 0) %> m²</strong>
  </p>
  <p>
    CO₂-eq / m²:
    <strong id="co2PerM2"
      ><%= formatNumber(project.co2PerSquareMeter, 1) %> kg</strong
    >
  </p>
  <div class="editbtn-container">
    <a
      href="/projects/<%= project._id %>/edit"
      id="btn-edit-project"
      class="btn btn-primary"
      data-toggle="tooltip"
      title="Change the project details"
      >Edit Project Details & Settings</a
    >
  </div>
</div>
