<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
<body>
<%- include('partials/_header.ejs', { hasProjects: projects && projects.length > 0 }) %>
<main role="main" class="container mt-4">
  <div class="text-center mb-4">
    <h1>Dashboard</h1>
    <% if(query.deletionSuccess) { %>
      <div class="alert alert-success" role="alert">Project deleted successfully!</div>
    <% } %>
    <% if(projects && projects.length > 0) { %>
      <!-- Projects are displayed here -->
      <div id="projects-container" class="d-flex flex-wrap justify-content-around">
        <% projects.forEach(function(project) { %>
          <a href="/projects/<%= project._id %>" style="text-decoration: none; color: inherit;">
            <div class="card" style="width: 18rem; margin: 10px;">              
              <% if (project.customImage) { %>
                <img src="<%= project.customImage %>" class="card-img-top" alt="<%= project.name %>">
              <% } %>
              <div class="card-body">
                <h5 class="card-title"><%= project.publicName %> - <small><%= project.description %></small></h5>
                <p class="card-text">Phase: <%= project.phase %></p>
                <p class="card-text">Carbon Footprint: <%= project.totalCarbonFootprint %></p>
                <p class="card-text">EBF (m²): <%= project.EBF %></p>
                <p class="card-text">CO₂ / m² EBF: <%= project.co2PerSquareMeter %></p>
              </div>
            </div>
          </a>
        <% }); %>
      </div>
    <% } else { %>
      <!-- Button in the middle of the page with description -->
      <div class="text-center" style="margin-top: 50px;">
        <p>No projects found. Start by creating a new project.</p>
        <a href="/newProject" class="btn btn-primary">Create New Project</a>
      </div>
    <% } %>
  </div>
  <% if (locals.error_msg) { %>
  <div class="alert alert-danger" role="alert">
    <%= error_msg %>
  </div>
  <% } %>
  <% if (locals.success_msg) { %>
  <div class="alert alert-success" role="alert">
    <%= success_msg %>
  </div>
  <% } %>
</main>
<%- include('partials/_footer.ejs') %>
</body>
</html>