<!DOCTYPE html>
<html lang="en">
  <%- include('partials/_head.ejs') %>
  <body>
    <%- include('partials/_header.ejs') %>
    <main role="main" class="container mt-4">
      <div class="d-flex justify-content-between align-items-center">
        <h2>Edit Project</h2>
        <form
          action="/api/projects/<%= project._id %>/delete"
          method="POST"
          onsubmit="return confirm('Are you sure you want to delete this project? This action cannot be undone.');"
        >
          <button type="submit" class="btn btn-danger">Delete Project</button>
        </form>
      </div>
      <form
        id="editProjectForm"
        action="/projects/<%= project._id %>/edit"
        method="POST"
      >
        <div class="mb-3">
          <label for="name" class="form-label">Project Name</label>
          <input
            type="text"
            id="name"
            name="name"
            class="form-control"
            value="<%= formatProjectNameForDisplay(project.name) %>"
            required
          />
        </div>
        <div class="mb-3">
          <label for="phase" class="form-label">Phase</label>
          <input
            type="text"
            id="phase"
            name="phase"
            class="form-control"
            value="<%= project.phase %>"
          />
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            id="description"
            name="description"
            class="form-control"
            rows="3"
          >
<%= project.description %></textarea
          >
        </div>
        <div class="mb-3">
          <label for="customImage" class="form-label">Custom Image URL</label>
          <input
            type="text"
            id="customImage"
            name="customImage"
            class="form-control"
            value="<%= project.customImage %>"
          />
        </div>
        <div class="mb-3">
          <label for="EBF" class="form-label">Project m² (EBF)</label>
          <input
            type="number"
            id="EBF"
            name="EBF"
            class="form-control"
            value="<%= project.EBF %>"
            step="0.01"
            min="0"
            required
          />
        </div>
        <div class="d-flex justify-content-between">
          <button type="submit" class="btn btn-success">Confirm</button>
          <button
            type="button"
            class="btn btn-secondary"
            onclick="window.location.href='/dashboard'"
          >
            Cancel
          </button>
        </div>
      </form>
    </main>
    <%- include('partials/_footer.ejs') %>
    <script src="/js/projectForm.js"></script>
  </body>
</html>
