<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tabulator-tables/dist/js/tabulator.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<body>
<%- include('partials/_header.ejs', { hasProjects: false }) %><main role="main" class="container mt-4">
    <div class="project-details">
        <h2><%= formatProjectNameForDisplay(project.name) %></h2>
        <p><strong>Phase:</strong> <%= project.phase %></p>
        <p><strong>Description:</strong> <%= project.description %></p>
        <p><strong>Total Carbon Footprint:</strong> <span id="carbonFootprint"><%= project.totalCarbonFootprint %></span></p>
        <img src="<%= project.customImage %>" alt="Project Image" style="width: 250px; height: auto;">
    </div>
    <a href="/projects/<%= project._id %>/edit" class="btn btn-primary" style="margin-top: 20px;">Edit Project</a>
    <div class="text-center mt-4">
        <h3>Upload IFC File</h3>
        <form id="ifcUploadForm" action="/api/projects/<%= project._id %>/upload" method="POST" enctype="multipart/form-data">
            <input class="form-control" type="file" id="ifcFile" name="ifcFile" onchange="this.form.submit();" required>
        </form>
        <div id="uploadMessage"></div>
    </div>
    <% if (typeof uploadSuccess !== 'undefined' && uploadSuccess) { %>
        <div class="alert alert-success" role="alert">
            IFC file uploaded successfully!
        </div>
    <% } %>
    <div id="elements-table" class="mt-4"></div>
    </main>
<%- include('partials/_footer.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/tabulator-tables/dist/js/tabulator.min.js"></script>
<script src="/js/uploadIfc.js"></script>
<script>
    var projectId = "<%= project._id %>";
    var projectName = "<%= project.name %>";
    console.log(`projectName: ${projectName}`);
</script>
<script src="/js/projectTable.js"></script>


</body>
</html>
