<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
<link href="https://cdn.jsdelivr.net/npm/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
<body>
<%- include('partials/_header.ejs') %>
<main role="main" class="container mt-4">
    <div class="project-details">
        <h2><%= formatProjectNameForDisplay(project.name) %></h2>
        <p><strong>Phase:</strong> <%= project.phase %></p>
        <p><strong>Description:</strong> <%= project.description %></p>
        <p><strong>Total Carbon Footprint:</strong> <span id="carbonFootprint"><%= project.totalCarbonFootprint %></span></p>
        <img src="<%= project.customImage %>" alt="Project Image" style="width: 250px; height: auto;">
    </div>
    <div class="text-center mt-4">
        <h3>Upload IFC File</h3>
        <form id="ifcUploadForm" action="/api/projects/<%= project._id %>/upload" method="POST" enctype="multipart/form-data">
            <input class="form-control" type="file" id="ifcFile" name="ifcFile" onchange="this.form.submit();" required>
        </form>
        <div id="uploadMessage"></div>
    </div>
    <% if (typeof uploadSuccess !== 'undefined' && uploadSuccess) { %>
        <div class="alert alert-success" role="alert">
            IFC file uploaded successfully!
        </div>
    <% } %>
    <!-- Tabulator Table for Building Elements -->
    <div id="elements-table" class="mt-4"></div>
    <a href="/projects/<%= project._id %>/edit" class="btn btn-primary" style="margin-top: 20px;">Edit Project</a>
</main>
<%- include('partials/_footer.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/tabulator-tables/dist/js/tabulator.min.js"></script>
<script src="/js/uploadIfc.js"></script>
<script>
    // Initialize Tabulator on DOM element
    var table = new Tabulator("#elements-table", {
        height: "auto",
        layout: "fitColumns",
        ajaxURL: "/api/projects/<%= project._id %>/elements", // URL to fetch data
        columns: [
            {title: "IFC GUID", field: "guid"},
            {title: "IFC Instance Name", field: "instance_name"},
            {title: "IFC Class", field: "ifc_class"},
            {title: "Building Storey", field: "building_storey"},
            {title: "Is Loadbearing", field: "is_loadbearing"},
            {title: "Is External", field: "is_external"},
            {title: "Volume", field: "volume"},
            {title: "Material", field: "materials_info", formatter: "textarea"} // Assuming materials_info contains a summary or array of materials
        ],
    });
</script>
</body>
</html>
