<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/tabulator-tables/dist/js/tabulator.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <!-- Load Chart.js -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- Custom CSS -->
    <style>
        .project-details {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
        }
        .details-column, .image-column {
            flex: 1;
            min-width: 250px;
        }
        .details-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }
        .image-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: flex-end;
            width: 100%;
        }
        .image-container img {
            width: 250px;
            height: auto;
        }
        .chart-column {
            display: flex;
            justify-content: center;
            align-items: center;
            min-width: 700px;
            padding: 10px;
            flex: 0 1 auto;
        }
        .chart-card {
            width: 100%;
            max-width: 700px;
        }
        .chart-container {
            padding: 5px;
        }
        .btn-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 10px;
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
<%- include('partials/_header.ejs', { hasProjects: false }) %>
<main role="main" class="container mt-4">
    <div class="project-details">
        <div class="details-column">
            <div class="details-container">
                <h2 id="project-name"><%= formatProjectNameForDisplay(project.name) %></h2>
                <p><strong>Phase:</strong> <%= project.phase %></p>
                <p><strong>Description:</strong> <%= project.description %></p>
                <p><strong>Carbon Footprint:</strong> <span id="carbonFootprint"><%= formatNumber(Math.round(project.totalCarbonFootprint) / 1000, 1) %> tons</span></p>
                <p><strong>m²:</strong> <span id="ebfPerM2"><%= formatNumber(project.EBF, 0) %> m²</span></p>
                <p><strong>CO₂-eq / m²:</strong> <span id="co2PerM2"><%= formatNumber(project.co2PerSquareMeter, 1) %> kg</span></p>
            </div>
        </div>
        <div class="chart-column">
            <div class="card chart-card">
                <div class="card-body">
                    <h3 class="text-center">CO₂-eq /m² and Storey</h3>
                    <div class="chart-container">
                        <canvas id="co2Chart" width="300" height="100"></canvas>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-column">
            <div class="btn-container">
                <a href="/projects/<%= project._id %>/edit" class="btn btn-primary">Edit Project</a>
            </div>
            <div class="image-container">
                <img src="<%= project.customImage %>" alt="Project Image">
                <a href="/projects/<%= project._id %>/add-row" class="btn btn-primary mt-3">Add Material</a>
            </div>
        </div>
    </div>
    <div id="elements-table" class="mt-4"></div>
</main>
<%- include('partials/_footer.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/tabulator-tables/dist/js/tabulator.min.js"></script>
<script src="/js/uploadIfc.js"></script>
<script src="/js/projectTable.js"></script>
<% function formatNumber(value, decimals) { %>
    <%  if (value == null || isNaN(value)) return '0'; %>
    <%  return value.toLocaleString(undefined, { minimumFractionDigits: decimals, maximumFractionDigits: decimals }); %>
    <% } %>
</body>
</html>
