<!DOCTYPE html>
<html lang="en">
<%- include('partials/_head.ejs') %>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/tabulator-tables/dist/css/tabulator.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/tabulator-tables/dist/js/tabulator.min.js"></script>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
<body>
<%- include('partials/_header.ejs', { hasProjects: false }) %><main role="main" class="container mt-4">
    <div class="project-details d-flex flex-wrap justify-content-between align-items-start">
        <div>
            <h2><%= formatProjectNameForDisplay(project.name) %></h2>
            <p><strong>Phase:</strong> <%= project.phase %></p>
            <p><strong>Description:</strong> <%= project.description %></p>
            <p><strong>Carbon Footprint:</strong> <span id="carbonFootprint"><%= (Math.round(project.totalCarbonFootprint) / 1000).toFixed(3) %> tons</span></p>
            <p><strong>EBF per m²:</strong> <span id="ebfPerM2"><%= project.EBF %> m²</span></p>
            <p><strong>CO₂ per m²:</strong> <span id="co2PerM2"><%= project.co2PerSquareMeter %> kg</span></p>
        </div>
        <img src="<%= project.customImage %>" alt="Project Image" style="width: 250px; height: auto;">
    </div>
    <a href="/projects/<%= project._id %>/edit" class="btn btn-primary" style="margin-top: 20px;">Edit Project</a>
    <% if (typeof uploadSuccess !== 'undefined' && uploadSuccess) { %>
        <div class="alert alert-success" role="alert">
            IFC file uploaded successfully!
        </div>
    <% } %>
    <div id="elements-table" class="mt-4"></div>
    </main>
<%- include('partials/_footer.ejs') %>
<script src="https://cdn.jsdelivr.net/npm/tabulator-tables/dist/js/tabulator.min.js"></script>
<script src="/js/uploadIfc.js"></script>
<script>
    var projectId = "<%= project._id %>";
    var projectName = "<%= project.name %>";
    console.log(`projectName: ${projectName}`);
</script>
<script src="/js/projectTable.js"></script>
</body>
</html>
